body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#loginMessage {
    color: red;
    margin-top: 10px;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-top: 20px;
}

#answers {
    display: flex;
    flex-direction: column;
}

#answers button {
    padding: 10px;
    margin: 5px 0;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#answers button:hover {
    background-color: #c0392b;
}

#nextButton {
    background-color: #2ecc71;
}

#nextButton:hover {
    background-color: #27ae60;
}

